/*
 * This file is part of ARSnova Mobile.
 * Copyright (C) 2011-2012 Christian Thomas Weber
 * Copyright (C) 2012-2016 The ARSnova Team
 *
 * ARSnova Mobile is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * ARSnova Mobile is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with ARSnova Mobile.  If not, see <http://www.gnu.org/licenses/>.
 */



@mixin label-config {
	font-family: $projectormode-font-family !important;
	color: $projectormode-text-color !important;
}

.x-speaker-utils {
	width: 100%;
	right: 0;
	bottom: 0;
	position: absolute;
	background: transparent;
	border: none !important;
	pointer-events: none;
}

.zoomButton {
	width: 44px;
	height: 33px;
	font-size: 1em;
	position: absolute;
	bottom: 0;
	right: 0;

	.icon-text-height::before {
		top: -1px !important;
		right: 3px !important;
	}

	&.zoomSheetActive {
		z-index: 999;
		font-size: 0.9em;
		margin-right: 4px;

		.x-button-icon {
			margin-right: 1px;
		}
	}
}

.zoomActionSheet {
	padding: 0;
	border: 1px solid $background-color;

	.sliderField {
		padding-right: 2em;
		text-align: center;
	}
}

.x-speaker-utils .x-button {
	&.interposedOverlay {	
		.x-button-icon {
			color: $icon-questionmark-color;

			&:before {
				font-size: 96px;
				top: -20px;
				left: -8px;
			}
		}
	}
	
	&.feedbackOverlay {
		.icon-warning:after {
			top: 25px;
			left: 20px;
			width: 50%;
			height: 60%;
			content: " ";
			position: absolute;
			z-index: -50;
			display: inline-block;
			border-radius: 50%/50%;
			box-shadow: inset 50px 50px 50px $smiley-bg-color;
		}

		.x-button-icon:before {
			font-size: 74px;
			top: -8px !important;
		}

		.x-button-icon.icon-warning:before {
			font-size: 80px;
		}
	}
	
	&.interposedOverlay,
	&.feedbackOverlay {
		width: 100px;
		height: 100px;
		display: flex;
		border: none !important;
		background: none !important;
		padding: 0 !important;

		&.x-button-pressing {
			background-image: none !important;
			background-color: transparent !important;
		}
	
		.badgeicon {
			margin: 0 !important;
			border-radius: 20px;
			position: absolute;
			top: 70px;
			left: 70px;
			z-index: 20;
		}
	
		.x-button-icon {
			width: 80px;
			height: 80px;
			opacity: 0.9;
	
			&.icon-warning {
				opacity: 1;
			}
		}
	}
}

.x-speaker-utils .x-button {
	pointer-events: all;

	&.projectorButton {
		right: 48px;

		.icon-projector::before {
			top: -10px !important;
			left: -7px !important;
			font-size: 2em !important;
		}
	}

	&.hideControlButton {
		right: 96px;

		.icon-gear::before {
			top: -4px !important;
			left: -2px !important;
			font-size: 1.5em !important;
		}
	}

	&.projectorButton, &.hideControlButton {
		width: 44px;
		height: 33px;
		font-size: 1em;
		position: absolute;
		bottom: 0;
	}

	&.x-button.x-button-action.x-button-pressed {
		color: white;
		background: $projectormode-active-color !important;
	}
}

.projector-mode {
	.x-input-el,
	.x-form-label span {
		@include label-config;
	}

	.x-list-item, .x-form-fieldset-title, .x-label, .roundedBox, .centerText {
		.x-innerhtml {
			@include label-config;
		}
	}

	.x-toolbar-light .x-button-back {
		color: $projectormode-text-color !important;
		background: $projectormode-back-button-color !important;
		border: 1px solid $projectormode-back-button-color !important;
	}

	.gravure,
	.disableDefault .x-form-label span,
	.questionStatisticTitle .x-innerhtml,
	.x-field-input .x-input-el {
		color: $projectormode-text-color !important;
	}

	.x-carousel-indicator {
		span {
			background-color: $projectormode-primary-color;
		}

		span.x-carousel-indicator-active {
			background-color: $projectormode-secondary-color;
			box-shadow: 0 0 1px 0 $projectormode-primary-color;

			p {
				color: $projectormode-text-color;
			}
		}
	}
}
